h1 {
    font-size: 64px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

h2 {
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.contenedor {
    width: 85%;
    padding: 10px;
    margin: 5px auto 5px auto;
    max-width: 1000px;
}