* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #0e1a1f;
}

/* HEADER */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 10%;
    background-color: #1b3039;
}

.header .logo {
    cursor: pointer;
}

.header .logo img{
    margin-top: 30px;
    height: 200px;
    width: auto;
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: aqua;
}

.header .boton button{
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background-color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .boton button:hover{
    color: aqua;
    transform: scale(1.1);
}

/* NOSOTROS */

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.videoContainer video {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.videoContainer:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.contenedor-fluido {
  z-index: 0;
}

.logoNosotros img {
    max-height: 100%;
    width: auto;
}

.contenedorNosotros {
  width: 85%;
  padding: 10px;
  margin: 5px auto 5px auto;
  max-width: 1000px;
}

#nosotros #jumbotron {
    color: white;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

#infonos {
    margin-top: 50px;
}

/* BODY */
body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

h1 {
    font-size: 64px;
    font-weight: 800;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

ul {
  list-style: none;
}

p {
    font-size: 18px;
    font-weight: 600;
}

.contenedorNosotros {
    width: 85%;
    padding: 10px;
    margin: 5px auto 5px auto;
    max-width: 1000px;
}

.contenedor-fluido {
    width: 100%;
    padding: 0px;
}


/*CLIENTES*/

#clientesp{
    text-align: center;
    padding: 10px;
}
  /* Estilos carousel */
  
  .carousel {
    position: relative;
    width: 80%;
    height: 450px;
    overflow: hidden;
    margin:auto
  }

  .carousel__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel__item.active {
    opacity: 1;
  }
  
  .carousel__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: #333;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    z-index: 999;
  }
  
  .carousel__btn--left {
    left: 20px;
  }
  
  .carousel__btn--right {
    right: 20px;
  }
  
/* footer */

.contenedorFooter {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: #1b3039;
  padding: 50px 0;
}

.fila-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}

.footer-links h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid aqua;
  padding-bottom: 10px;
  display: inline-block;
}

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #bbbbbb;
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease;
}

.footer-links ul li a:hover {
  color: aqua;
  padding-left: 6px;
}

.redesSociales a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all .5s ease;
}

.redesSociales a:hover {
  background-color: aqua;
}